PORT=3000
NODE_ENV=development
APP_URL=
GEMINI_API_KEY=
FIREBASE_API_KEY=
MPESA_CALLBACK_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_ENVIRONMENT=
MPESA_INITIATOR_NAME=
MPESA_PASSKEY=
MPESA_SHORTCODE=
SYSTEM_OWNER_MASTER_KEY=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_FIRESTORE_DB_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=